<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout :: admin-layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Danh sách User</title>
</head>
<body>
<th:block id="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Danh sách user</li>
                        </ol>
                    </div>
                    <div class="col-sm-6 d-flex align-items-center justify-content-end show-time">
                        <span>Thời gian</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <a href="/admin/users/create" class="btn btn-primary">
                            <i class="nav-icon fas fa-plus"></i>
                            <span class="pl-1">Tạo user</span>
                        </a>
                        <a type="button" class="btn btn-secondary btn-copy">
                            <i class="nav-icon fas fa-copy"></i>
                            <span class="pl-1">Sao chép</span>
                        </a>
                        <button class="btn btn-info" onclick="window.print()">
                            <i class="nav-icon fas fa-print"></i>
                            <span class="pl-1">Print</span>
                        </button>
                        <a href="" class="btn btn-success">
                            <i class="nav-icon fas fa-file-excel"></i>
                            <span class="pl-1">Xuất Excel</span>
                        </a>
                        <a href="" class="btn btn-warning">
                            <i class="nav-icon fas fa-file-pdf"></i>
                            <span class="pl-1">Xuất PDF</span>
                        </a>
                    </div>
                    <div class="col-3">
                        <form id="search-user">
                            <div class="input-group">
                                <input type="search" class="form-control"
                                       placeholder="Bạn cần tìm gì?">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary btn-search-user">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="blog-list">
                            <table id="user-table" class="table table-hover custom-table">
                                <thead>
                                <tr class="text-white">
                                    <th scope="col">ID</th>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Bài viết</th>
                                    <th scope="col">Roles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users.getContent()}">
                                    <td th:text="${user.id}"></td>
                                    <td>
                                        <a th:href="@{/admin/users/{id}/detail (id = ${user.id})}"
                                           th:text="${user.name}"></a>
                                    </td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.totalBlogs}"></td>
                                    <td>
                                        <span th:each="role : ${user.roles}"
                                              th:text="${role.name}"
                                              class="badge badge-success"
                                        ></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="pagination" class="d-flex justify-content-center">
                            <ul class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
</th:block>

<th:block id="js">
    <script th:inline="javascript">
        const page = [[${users}]];
        const currentPage = [[${currentPage}]]

        // pagination
        function renderPagination(currentPage, totalPage){
            const page = pagination(currentPage, totalPage);
            let html = `<li class="page-item ${currentPage === 1 ? "disabled" : ""}">
                <a class="page-link" href="${currentPage - 1 === 1 ? "/admin/users" : `/admin/users?page=${currentPage - 1}`}" aria-label="Previous" onclick="renderPagination(${currentPage - 1}, ${totalPage})">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>`;
            for (const i of page) {
                html += `<li class="page-item ${currentPage === i ? "active" : ""}"><a class="page-link" href="${i === 1 ? "/admin/users" : `/admin/users?page=${i}`}" onclick="renderPagination(${i}, ${totalPage})">${i}</a></li>`
            }
            html += `<li class="page-item ${currentPage === totalPage ? "disabled" : ""}">
            <a class="page-link" href="/admin/users?page=${currentPage + 1}" aria-label="Next" onclick="renderPagination(${currentPage + 1}, ${totalPage})">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>`
            $(".pagination").html(html);
        }
        renderPagination(currentPage, page.totalPages);

        // copy data table
        $('.btn-copy').on('click', function(){
            copyDataTableToClipboard("user-table")
        });
    </script>
</th:block>
</body>
</html>