<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/layout/layout :: layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Kong's Blog</title>
</head>
<body>
<th:block id="content">
    <main class="main">
        <header class="entry-header">
            <h1>
                <span style="
                            display: inline-block;
                            transform: rotateY(180deg);
                        ">🐈</span>
                Blog app <span>🐈</span>
            </h1>
        </header>
        <ul class="terms-tags top-tags">
            <li th:each="category : ${categoryDtos}">
                <a th:href="@{/tags/{name} (name = ${category.name})}">
                    <th:block th:text="${category.name}"></th:block>
                    <sup><strong><sup th:text="${category.used}">9</sup></strong></sup></a>
            </li>
        </ul>
        <article class="post-entry" th:each="blog : ${pages.getContent()}">
            <header class="entry-header">
                <h2 th:text="${blog.title}">
                    Hướng dẫn tạo tài khoản và sử dụng Chat GPT chỉ với 1
                    cốc trà đá
                </h2>
            </header>
            <div class="entry-content">
                <p th:text="${blog.description}">

                </p>
            </div>
            <footer class="entry-footer">
                <span th:text="${#temporals.format(blog.publishedAt, 'dd/MM/yyyy')}">01/02/2023</span>
            </footer>
            <a class="entry-link" th:href="@{/blog/{slug} (slug = ${blog.slug})}"></a>
        </article>
    </main>
</th:block>

<th:block id="js">

</th:block>
</body>
</html>