<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Kong's Blog</title>

    <th:block id="css">
        <link rel="stylesheet" href="/css/pagination.css">
    </th:block>
</head>
<body>
<th:block id="content">
    <main class="main">
        <header class="entry-header">
            <h1>
                <span style="
                            display: inline-block;
                            transform: rotateY(180deg);
                        ">🐈</span>
                Blog app <span>🐈</span>
            </h1>
        </header>
        <ul class="terms-tags top-tags">
            <li th:each="category : ${categoryDtos}">
                <a th:href="@{/tags/{name} (name = ${category.name})}">
                    <th:block th:text="${category.name}"></th:block>
                    <sup><strong><sup th:text="${category.used}">9</sup></strong></sup></a>
            </li>
        </ul>
        <article class="post-entry" th:each="blog : ${pages.getContent()}">
            <header class="entry-header">
                <h2 th:text="${blog.title}">
                    Hướng dẫn tạo tài khoản và sử dụng Chat GPT chỉ với 1
                    cốc trà đá
                </h2>
            </header>
            <div class="entry-content">
                <p th:text="${blog.description}">

                </p>
            </div>
            <footer class="entry-footer">
                <span th:text="${#temporals.format(blog.publishedAt, 'dd/MM/yyyy')}">01/02/2023</span>
            </footer>
            <a class="entry-link" th:href="@{/blog/{slug} (slug = ${blog.slug})}"></a>
        </article>
        <div id="pagination-container">
            <ul class="pagination"></ul>
        </div>
    </main>
</th:block>

<th:block id="js">
    <script th:inline="javascript">
        const pages = [[${pages}]];

        function renderPagination(currentPage, totalPage) {
            const pages = pagination(currentPage, totalPage);
            let html = `<li class="page-item">
                <a class="page-link ${currentPage === 1 ? "disabled" : ""}" href="/pages/${currentPage - 1}" aria-label="Previous" onclick="renderPagination(${currentPage - 1}, ${totalPage})">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>`;
            for (const i of pages) {
                if(i === "..."){
                    html += `<li class="page-item"><a class="page-link disabled" href="#">${i}</a></li>`;
                    continue;
                }
                html += `<li class="page-item"><a class="page-link ${currentPage === i ? "active" : ""}" href="/pages/${i}" onclick="renderPagination(${i}, ${totalPage})">${i}</a></li>`
            }
            html += `<li class="page-item">
            <a class="page-link ${currentPage === totalPage ? "disabled" : ""}" href="/pages/${currentPage + 1}" aria-label="Next" onclick="renderPagination(${currentPage + 1}, ${totalPage})">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>`

            $(".pagination").html(html);
        }

        renderPagination(pages.number + 1, pages.totalPages)
    </script>
</th:block>
</body>
</html>