<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:fragment="layout(title, css, content, js)">
<head>
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel=icon href=img/umaru.PNG>

    <title th:replace="${title}">Title</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- CSS -->
    <th:block th:replace="${css} ?: ~{}"></th:block>
</head>
<body>
    <!-- header -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <!--content-->
    <th:block th:replace="${content} ?: ~{}"></th:block>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Link JS -->
    <script src="/js/main.js"></script>

    <!--js-->
    <th:block th:replace="${js} ?: ~{}"></th:block>
</body>
</html>