<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layout/layout :: admin-layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Tất cả danh mục</title>
</head>
<body>
<th:block id="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Tất cả danh mục</li>
                        </ol>
                    </div>
                    <div class="col-sm-6 d-flex align-items-center justify-content-end show-time">
                        <span style="letter-spacing: .05em"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <button type="button" class="btn btn-primary btn-create">
                            <i class="nav-icon fas fa-plus"></i>
                            <span class="pl-1">Tạo danh mục</span>
                        </button>
                        <a href="/admin/categories" class="btn btn-secondary">
                            <i class="nav-icon fas fa-redo"></i>
                            <span class="pl-1">Refresh</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <div class="blog-list">
                            <table class="table table-hover custom-table">
                                <thead>
                                <tr class="text-white">
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên danh mục</th>
                                    <th scope="col">Số bài viết áp dụng</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="category : ${categories}">
                                    <td th:text="${category.id}"></td>
                                    <td th:text="${category.name}"></td>
                                    <td th:text="${category.used}"></td>
                                    <td>
                                        <button class="btn btn-warning btn-edit">Sửa</button>
                                        <button class="btn btn-danger btn-delete">Xóa</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <!-- Modal-->
    <div class="modal fade" id="modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="text" placeholder="Tên danh mục mới ...">
                </div>
                <div class="modal-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary btn-save">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block id="js">
    <script>
        const $modalTitle = $('.modal-title');
        const $modalInput = $('.modal-body input');
        const $btnSave = $('.btn-save');

        // Tạo danh mục
        const $btnCreate = $('.btn-create');
        $btnCreate.on('click', () => {
            $modalTitle.text("Tạo danh mục");
            $('#modal').modal('show');
            $btnSave.on('click', () => {
                const name = $modalInput.val().trim();
                if(name !== ''){
                    let data = {
                        name : name
                    }
                    // Call Api
                    $.ajax({
                        url: '/api/v1/categories',
                        method: 'POST',
                        data: data,
                        success: (res) => {
                            console.log(res)
                        },
                        error: (err) => {
                            console.log(err)
                        }
                    });
                } else {
                    Notification2.fire({
                        title: 'Tên danh mục không được để trống'
                    });
                }
            })
        });

        // Sửa danh mục
        const $btnEdit = $('.btn-edit');
        $btnEdit.on('click', () => {
            $modalTitle.text("Sửa danh mục");
            const $parentTr = $btnEdit.closest('tr');
            const id = $parentTr.find('td:nth-child(1)').text();
            const oldName = $parentTr.find('td:nth-child(2)').text();
            $modalInput.text(oldName);
            $('#modal').modal('show');
            $btnSave.on('click', () => {
                const name = $modalInput.val().trim();
                if(name !== ''){
                    let data = {
                        name : name
                    }
                    // Call Api
                    $.ajax({
                        url: `/api/v1/categories/${id}`,
                        method: 'POST',
                        data: data,
                        success: (res) => {
                            console.log(res)
                        },
                        error: (err) => {
                            console.log(err)
                        }
                    });
                } else {
                    Notification2.fire({
                        title: 'Tên danh mục không được để trống'
                    });
                }
            })
        })

        // Xóa danh mục
        const $btnDelete = $('.btn-delete');
        $btnDelete.on('click', () => {
            const $parentTr = $btnDelete.closest('tr');
            const id = $parentTr.find('td:nth-child(1)').text();
            $.ajax({
                url: `/api/v1/categories/${id}`,
                method: 'DELETE',
                success: (res) => {
                    Notification1.fire({
                        icon: 'success',
                        title: 'Xóa thành công'
                    })
                },
                error: (err) => {
                    console.log(err)
                }
            });
        })
    </script>
</th:block>
</body>
</html>