<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tất cả danh mục</title>
</head>
<body>
<th:block id="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Tất cả danh mục</li>
                        </ol>
                    </div>
                    <div class="col-sm-6 d-flex align-items-center justify-content-end show-time">
                        <span style="letter-spacing: .05em"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <a href="/admin/create-blog" class="btn btn-primary">
                            <i class="nav-icon fas fa-plus"></i>
                            <span class="pl-1">Tạo danh mục</span>
                        </a>
                        <a href="" class="btn btn-secondary btn-copy">
                            <i class="nav-icon fas fa-copy"></i>
                            <span class="pl-1">Refe</span>
                        </a>
                    </div>
                    <div class="col-3">
                        <form action="">
                            <div class="input-group">
                                <input type="search" class="form-control search-blog" placeholder="Bạn cần tìm gì?">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="blog-list">
                            <div class="row d-flex justify-content-between mb-3">
                                <div class="col-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Số lượng hiển
                                                thị</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect02">Trạng thái</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect02">
                                            <option selected>Chọn trạng thái</option>
                                            <option value="0">Nháp</option>
                                            <option value="1">Công khai</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <table class="table table-hover custom-table">
                                <thead>
                                <tr class="text-white">
                                    <th scope="col">ID</th>
                                    <th scope="col">Tiêu đề</th>
                                    <th scope="col">Tác giả</th>
                                    <th scope="col">Danh mục</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Ngày tạo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="blog : ${blogPage.getContent()}">
                                    <td th:text="${blog.id}">1</td>
                                    <td>
                                        <a th:href="@{/admin/blogs/{id}/{slug} (id = ${blog.id}, slug = ${blog.slug})}" th:text="${blog.title}"></a>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/users/{id} (id = ${blog.user.id})}" th:text="${blog.user.name}">John Doe</a>
                                    </td>
                                    <td>
                                        <span th:each="category : ${blog.categories}"
                                              th:text="${category.name}"
                                              class="badge badge-success mr-1 p-2"
                                        ></span>
                                    </td>
                                    <td th:text="${blog.status ? 'Công khai' : 'Nháp'}"></td>
                                    <td th:text="${#temporals.format(blog.createdAt, 'dd-MM-YYYY')}">06-07-2022</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="render-pagination d-flex justify-content-between">
                            <span><i>Số lượng bài viết :</i> <span th:text="${blogPage.totalElements}" class="h5">1</span></span>
                            <ul class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
</th:block>

</body>
</html>