.custom-menu:hover {
    color: #fff;
    background-color: rgb(52, 58, 64);
    transition: .25s ease-in-out;
}

/*style table*/
.custom-table {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.custom-table th,
.custom-table td {
    text-align: center;
}

.custom-table a:hover {
    text-decoration: underline;
}

.custom-table thead tr {
    background-color: #009879;
}

.custom-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
