<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="sidebar">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/admin" class="brand-link">
            <img src="/img/favicon/umaru.PNG" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: 0.8" />
            <span class="brand-text font-weight-light">Kong's Blog</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Quản lý bài viết
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/blogs" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tất cả bài viết</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/own-blog" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Bài viết của tôi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/create-blog" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tạo bài viết</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-tree"></i>
                            <p>
                                Quản lý user
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/users" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách user</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/create-user" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tạo user</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</th:block>
</body>
</html>